body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #000f2c;
  

  color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  height: 1px;
  background: #444;
  margin: 20px 0;
}


.global_container {
  display: flex;
  gap: 20px;

  max-width: 1400px;
  width: 100%;
  padding: 0 15px;

  min-height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  overflow: auto;
}

.sf-main {
  width: 250px;
  flex-shrink: 0;
}

.main {
  flex: 1;
  max-width: 900px;
}

/* Шапка */
.container_header {
 display: flex;
  max-width: 1400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #0f1b28;
  max-height: 55px;
}

#header_text {
  font-size: 30px;
  color: white;
  margin: 50px;
}

/* Поиск */
.search-box {
  display: flex;
  align-items: center;
  padding: 5px;
}

.search {
  margin: 0;
  max-width: 300px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
  flex: 1;
}

.search-box button {
  border: none;
  background-color: #eee;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color: #ccc;
}

/* Навигация */
.sf {
  width: 190px;
}

.menu {
  margin-top: 50px;
  background-color: rgba(26, 31, 39, 0.4);
  border-radius: 30px;
  padding: 10px;
}

.menu p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 8px;
  font-family: sans-serif;
  letter-spacing: .12em;
}

.menu li {
  display: flex;
  justify-content: center;
}

.menu a {
  color: #ddd;
  font-size: 15px;
}

.menu a:hover {
  color: #9cc8ff;
}

.menu li {
  list-style: none;
}

.mobile-menu li {
  list-style: none;
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 6px;
}

.burger span {
  width: 28px;
  height: 3px;
  background: white;
  display: block;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}


.mobile-menu,
.overlay {
  display: none;
}


/* Иконки */
.item a {
  display: block;
  position: relative;
  padding: 12px 16px 12px 40px; /* место под иконку */
  color: #ddd;
  text-decoration: none;
}

.item a::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-web h1::before {
  background-image: url("web/icons/globe.svg");
}
.icon-home a::before {
  background-image: url("web/icons/home.svg");
}
.icon-about a::before {
  background-image: url("web/icons/user.svg");
}
.icon-gallery a::before {
  background-image: url("web/icons/picture.svg");
}
.icon-archive a::before {
  background-image: url("web/icons/archive.svg");
}
.icon-article a::before {
  background-image: url("web/icons/graduation-cap.svg");
}
.icon-telegram a::before {
  background-image: url("web/icons/telegram.svg");
}
.icon-message a::before {
  background-image: url("web/icons/messages.svg");
}

.icon {
  width: 20px;
  height: 20px;
  fill: #ddd;
  margin-right: 10px;
}
.menu a:hover .icon {
  fill: #9cc8ff;
}

/* Профиль */
.container {
  width: 100%;
}

.profile {
  background-color: #1a1f27;
  margin-top: 50px;
  max-width: 900px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.profile_menu {
  display: flex;
  flex-direction: column;
}

.ava_menu {
  display: flex;
 flex-direction: column;
  align-items: center;
}

.ava {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  /*! margin-bottom: 10px; */
}

.nickname {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}
.nickname h4 {
  margin-top: 10px;
}

.about_me {
  margin-top: 10px;
  line-height: 1.5;
  padding-left: 20px;
}

.about_me p {
  margin-top: 5px; 
  margin-right: 15px; 
  width: 95%;
}

.buttons {
  padding-left: 30px;
}

/* Посты */
.line {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 27px;
  line-height: 0.2;
  letter-spacing: 0.089em;
  font-weight: 600;
}

.container_post {
  display: flex;
}

.post {
  background-color: #1a1f27;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  max-width: 420px;
  max-height: 480px;
}

.post_inside {
  background-color: #1a1f27;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
}

.post, p {
  margin-top: 10px;
}
.post, ul {
  margin-left: 15px;
}

.post_img {
  width: 100%;
  padding-top: 56.25%; 
  margin-bottom: 10px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.post_img img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.gallery img {
  height: 60%;
  width: 20%;
  border: 1px solid;
  margin: 10px;
}

@media (max-width: 900px), (orientation: landscape) and (max-width: 1024px) {

  .global_container {
    flex-direction: column;
  }

  .sf-main {
    width: 100%;
    display: none;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .menu a {
    text-align: left;
    font-size: 18px;
  }

  .burger {
    display: flex;
    margin-right: 25px;
  }
  
  .inside {
    padding-left: 200px;
    margin-top: 20px
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;         
    width: 260px;
    height: 100vh;
    background: #1a1f27;
    transition: right 0.3s ease;
    z-index: 1001;
    
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.143em;
  }
  
  .mobile-menu p {
    text-align: center;
    margin-top: 8px;
    letter-spacing: .12em;
    font-size: 20px;
    line-height: 43px;
  }
  
    .mobile-menu li {
    display: flex;
    justify-content: center;
  }

  .mobile-menu.active {
    right: 0;
  }

  .mobile-menu .menu {
    width: 100%;
  }

  .mobile-menu,
  .overlay {
    display: block;
  }

  header {
    gap: 10px;
  }

  #header_text {
    margin-left: 25px;
    font-size: 30px;
    width: 100%;
  }

  #search {
    width: 100%;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .menu {
    height: 270px;
    margin: 5px auto;
  }

  .menu a {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }

  .profile {
    flex-direction: column;
    width: 445px;
    padding: 15px;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile h1 {
    font-size: 35px;
    line-height: 0.9;
    letter-spacing: 0.07em;
    font-weight: 900;
  }
  
  prrofile h3 {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.039em;
  }

  .profile p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.07em;
    font-weight: 400;
    font-style: normal;
  }

  .ava {
    width: 190px;
    height: 190px;
    margin-top: 15px;
  }

  .nickname {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }

  .about_me {
    text-align: center;
    margin: 10px;
  }

  .about_me,
  .nickname {
    padding-left: 0;
  }

  .buttons ul {justify-content: center;}
  .buttons a {display: flex; text-align: center;}

  .container_post {
    margin-top: 0px;
    flex-direction: column;
  }
  
  .post {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  
  .post p{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.07em;
  }
  
  .post ul {
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 5px;
  }

  .gallery img {
    height: 40%;
    width: 40%;
  }
}